*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main{
    width: 100%;
height: 100vh;
    background-image:url(assets/bg.png);
    background-position: bottom;
    background-size:cover;
    margin: auto;
}


.fas {
    font-size: 25px;    
}
ul{
    list-style: none;
}
.navbar{
   
    display: flex;
    width: 90%;
    padding: 20px;
    margin: auto;
    

}
.logo{
    
width: 32px;
height: 32px;

}
.nav-links{
    display: flex;
    align-items: center;
    
    margin: 0 25px 0 auto;
}


.nav-links li{
    margin: 0 30px;
}

.button1{
    
    color: white;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 24px;
/* position: relative; */
width: 168px;
height: 48px;
margin: 0 0 0 25px;

background: #1A3D34;

}
.inbox{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding:  150px 0;
   
}

.button2{
    
    
    color: white;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 20px;
font-size: 14px;

position: relative;
width: 270px;
height: 58px;

letter-spacing: 0.05em;
margin:50px 0 0 0;

background: #1A3D34;

}
.rtarw{
    padding: 20px;
}
.main h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    color: #1A3D34;
    position: relative;
width: 720px;
height: 160px;
}
.page2{
    background: #1A3D34;
    width: 100%;
    height: 100%;
    margin: auto;
    
}
.page2 h2{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
padding-top: 60px;
text-align:center;
color: #FFFFFF;


}

.flexbox{
    width: auto;
    height: auto;
  margin:auto; 
      text-align: center;
    padding: 50px;
    }
  
.card{
    
     width: 450px;
height: 120px; 
display: inline-flex;
flex-direction: row;
box-sizing: border-box;
margin: 30px 30px;
background:  #0b3128;
cursor: pointer;
}
.card:hover{
    width: 450px;
    height: 120px;
  box-sizing: border-box;
    margin: 30px 30px;
    background:  #081f19;
    box-shadow:  -2px 0   #57C2A7;;
    filter: drop-shadow(4px 8px 10px rgba(0, 0, 0, 0.25));
    
}

.card .incard
{
    display: inline-flex;
flex-direction: column;
} 
.card img{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
}
.incard h3{
    
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 28px;
color: #FFFFFF;
letter-spacing: 0.05em;
width: 260px;
height: 26px;
margin: 20px 0 5px 35px;

text-align: left;


}
.incard p{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 19px;
width: 318px;
height: 40px;
color: #FFFFFF;
opacity: 0.7;
letter-spacing: 0.08em;
margin: 0 0 0 35px;

text-align: left;
}
.page3{
    background: #E5E5E5;
  display:flex;
  flex-direction: column;
  margin: auto;
    
    
    
}
.page3 h2{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
/* identical to box height */
margin: 60px;

text-align: center;

color: #1A3D34;
}
.bblock{
margin: auto;

}
.block{
    display: flex;
    flex-direction: row;
    /* border: 2px solid blue; */
     margin: auto auto 60px auto; 
    
}
.block_2{
    column-gap: 80px;

}
.block_1{
    column-gap: 90px;
}
.left{
    
    margin-left: 25px;
}




.Mask{
    width: 550px;
height: 329px;
margin: 30px;
box-shadow: -25px 25px #1A3D34;

}
.Mask2{
    box-shadow: 20px 20px #1A3D34;
   
}

.page3 .left h3{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    margin: 100px 0  0 auto ; 
    padding: 0 80px 20px 0;
    
  
color: #1A3D34;

}

.page3 .left p{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
width: 490px;
padding-right: 10px;

 
color: #1A3D34;
/* margin: auto; */

}




.button3{
    color: white;
    display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
padding: 6px 24px;
position: absolute;

background: #1A3D34;
margin: 40px 0 0 0px;

}
.button3_2{
    color: white;
    display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
padding: 6px 24px;
position: absolute;

background: #1A3D34;
margin: 40px 0 0 0;
}
.rtarw2{
    padding-left: 15px;
}
.page4{
    background: #E5E5E5;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    /* border:  2px solid red; */
}
.grid{
     

padding-top: 50px; 
    margin: auto;
   /* border:  2px solid red; */
   width: fit-content;
  
    
    
}

.page4 h1{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #1A3D34;
}
.column{
    display: inline-flex;
   flex-wrap: wrap;
   flex-direction: column;
   
    vertical-align: top;
    margin-bottom: 60px;
    
    /* border: 2px solid blue; */
   }
   .column1{
       padding: 10px;
       
       
       margin:auto;
   }
   .image1, .image2{
       padding-bottom:18px;
   }
   .image3, .image4, .image5{
       padding: 10px 0 10px 0;
      
   }
   .image6, .image7{
       padding: 10px;
   }
.container{
    background: #1A3D34;
    width: 100%;
    height: 110vh;
}
.container h1{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
text-align: center;
padding-top: 35px;

color: #FFFFFF;
}
.container .rectangle{
    width: 70%;
    height: 70%;
    background: #1A3D34;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    margin: 30px 0 0 200px;
   
    
}
 .rectangle2{
     position: relative;
    width: 70%;
    height: 70%;
    background: #1A3D34;
    
    left: 130px;
    top: 70px;
    display: flex;
    }
    .frame{
        width: 28%;
        background: #FFFFFF;
        height: 100%;
        margin-top: 20px;
        
        
       
        
        
        
    }
    .framert{
        width: 68%;
        height: auto;
        
        
        
    }
    .photo{
        width: 99%;
height: 236px;




    }
    .name h1{
        font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 33px;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
color: #1A3D34;
margin-top: -30px;
 }
.des p{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 21px;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #1A3D34;
}
.rthead h1{
    font-family: Playfair Display;
    display: flex;
font-style: normal;
font-weight: bold;
font-size: 28px;
width: 370px;
line-height: 48px;
color: #FFFFFF;
margin-top: 20px;
margin-left: 70px;
}
.rtp p{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
width: 474px;

margin-left: 70px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
color: #FDFDFD;
opacity: 0.8;
}
.rectangle3{
    width: 50%;
    height: 1%;
    background: #57C2A7;
    margin-top: 50px;
}
.quote-left{
    
    margin-left: 35px;
    width: 30px;
height: 30px;
}
.quote-right{
    width: 30px;
    height: 30px;
    margin-left: 485px;
}


.container2{
    width: 100%;
    height: 110vh;
    background: #E5E5E5;
}
.container2 h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #1A3D34;
    padding-top: 10px;
    
    
}

.block2{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
   
     margin : 20px 0 0 150px;
  }
  .lblock{
      width: 35%;
      height: 100%;
      
      background: #1A3D34;
      overflow: hidden;
      
  }
  .rblock{
      width: 65%;
      height: 100%;
      background:white;
      
     }
     .lblock h1{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        align-items: center;
        margin-top: 40px;
        margin-left: -30px;
       
        color: #FFFFFF;
     }
     .p1{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        opacity: 0.7;
        margin-top: 15px;
        margin-left: 40px;
     }
     .lblock p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
     }
     .p2{
         margin-left: 30px;
         margin-top: 40px;
         }
         .p3, .p4{
            margin-left: 30px;
            margin-top: 10px;
         }
         .smallicons{
             padding: 10px;
         }
.smallicons2{
   margin-top: 150px;
   margin-left: 30px;
}
.smallicons2_sub{
padding: 10px;
}
.arc{
  transform: translate(120%, -40%);
    height: 120px;
    width: 220px;
    border-radius: 150px 150px 0 0;
    background-color:#57C2A7;
}
.details{
    display: flex;
    flex-direction: row;
   margin-top: 50px;
}
.details label{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
     color: #1A3D34;
    opacity: 0.8;
    
}
.details input{
    height: 100%;
    width: 250px;
    border: none;
    opacity: 0.8;
    border-bottom: 1px solid #1A3D34;

}
.y_name{
    margin-left: 40px;
}
.mobile_no{
    margin-left: 60px;
}
.rblock_h2{
    margin-left: 40px;
    margin-top: 80px;
}
.rblock_h2 h2{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
opacity: 0.8;
}
.rblock_btns{
    display: flex;
    flex-direction: row;
}

.btn1:hover, .btn2:hover, .btn3:hover  {
    color: white;
    display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
padding: 6px 24px;
border: 1px solid rgba(255, 255, 255, 0.8);
font-size: 14px;
font-family: Poppins;
font-style: normal;
font-weight: normal;

background: #57C2A7;;
margin: 30px 0 0 40px;
} 
.btn1,.btn2,.btn3{
    color: black;
    display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
padding: 6px 24px;
font-size: 14px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
border: 1px solid rgba(26, 61, 52, 0.8);
background: #FFFFFF;
margin: 30px 0 0 40px;
cursor: pointer;
}
.rblock_lbl_txt{
    margin: 60px 0 0 40px;
    
}
.txt_lbl{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;



color: #1A3D34;

opacity: 0.8;
}
.txt_lbl2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.4;
    margin-top: 5px;
}
.rblock_lbl_txt input{
    height: 100%;
    width: 525px;
    border: none;
    border-bottom: 1px solid #1A3D34;
    margin-top: 25px;

}
.last_btn{
    margin-left: 275px;
}
.btn4{
    color: white;
   justify-content:center;
align-items: center;
padding: 6px 24px;
width: 278px;
height: 48px;
background: #1A3D34;
margin: 40px 0 0 50px;
}
.last{
    background-color:#1A3D34 ;
    width: 100%;
    height: 60vh;

    }
   .lastblock{
       width: 100%;
       
       
      padding-top: 100px;
      padding-left: 120px;

    }
   
    
.last h1{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 42px;
/* identical to box height */

display: flex;
align-items: center;
margin-top: 30px;

color: #FFFFFF;

}
.last p{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
margin-top: 20px;

color: #FFFFFF;

opacity: 0.6;
}
.last h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    
    color: #FFFFFF;
    
    opacity: 0.6;
}

    
    




